@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,500&display=swap");

:root {
  --clr-yellow: #f2f2f2;
  --clr-cream: #eff1d7;
  --clr-light: #0b264ee8;
  --clr-dark: #06283d;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background: var(--clr-light);
}

/* nav */
nav {
  font-size: 1.6rem;
  font-weight: 700;
  background-color: var(--clr-yellow);
  display: flex;
  padding: 10px 0;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px;
}

nav .nav-title {
  gap: 24px;
  display: flex;
  align-items: center;
}

nav img {
  width: 100px;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 18px;
}

/* main */
#form-container {
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

#select-episode {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px;
  padding: 8px;
  background-color: var(--clr-dark);
  color: var(--clr-yellow);
  font-size: 1.2rem;
  max-width: 260px;
}

#serach-container input {
  max-width: 200px;
  padding: 8px;
  background-color: var(--clr-dark);
  color: var(--clr-yellow);
  font-size: 1.2rem;
}

#serach-container {
  display: flex;
  gap: 16px;
  align-items: center;
  color: var(--clr-yellow);
  font-weight: 600;
}
#card-container {
  padding: 0px 6px 40px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, minmax(260px, 420px));
  justify-content: center;
  gap: 26px;
  min-height: 600px;
}

@media only screen and (max-width: 992px) {
  #card-container {
    grid-template-columns: repeat(2, minmax(260px, 400px));
  }

  nav {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 600px) {
  #card-container {
    grid-template-columns: minmax(260px, 400px);
  }

  .nav-list {
    display: none;
  }
  #form-container {
    flex-direction: column;
  }

  #serach-container {
    margin-top: 12px;
    flex-direction: column;
  }

  #serach-container input {
    max-width: 260px;
  }
}

.card {
  color: var(--clr-cream);
  padding: 20px 0;
  width: 100%;
  background-color: var(--clr-dark);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 6px;
  transition: ease-in-out 0.2s;
  position: relative;
}

.card:hover {
  transform: scale(1.02);
}

.card img {
  width: 100%;
  margin: 18px 0;
}

.card h3 {
  text-align: center;
}

.card p:nth-child(2) {
  color: #50577a;
  position: absolute;
  top: 80px;
  font-size: 0.7rem;
  font-weight: 700;
  clip-path: polygon(0% 0%, 80% 0, 100% 50%, 80% 100%, 0% 100%);
  background-color: var(--clr-cream);
  padding: 8px 12px 7px 2px;
}

.card p {
  padding: 10px;
}

/* footer */
footer {
  background-color: var(--clr-yellow);
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  padding: 2.4rem 0;
}
